@page "/events/message-my-events/{Code}"
<PageTitle>Mensajes del evento</PageTitle>

<div class="d-flex justify-content-center align-items-start my-4">
    @if (NewMessage != null)
    {
        <EditForm Model="@NewMessage" OnValidSubmit="HandleValidSubmit" class="w-100" style="max-width: 900px;">
            <h3>Datos del Evento</h3>
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3 row">
                <div class="form-group col-12 col-md-6 d-flex align-items-center">
                    <h5>Codigo: </h5>
                    <h5 class="ms-2">@Code</h5>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="form-group col-12 col-md-6 mb-3 mb-md-0">
                    <label for="titulo" class="form-label">Título:</label>
                    <InputText id="titulo" class="form-control" @bind-Value="NewMessage!.Title" />
                </div>

                <div class="form-group col-12 col-md-6">
                    <label for="subtitulo" class="form-label">Subtítulo:</label>
                    <InputText id="subtitulo" class="form-control" @bind-Value="NewMessage.SubTitle" />
                </div>
            </div>

            <h3>Mensajes para WhatsApp</h3>
            <div class="mb-3 row">
                <div class="form-group col-12 col-md-6 mb-3 mb-md-0">
                    <label for="textoInvitacion" class="form-label">Texto de invitación:</label>
                    <InputTextArea id="textoInvitacion" class="form-control" @bind-Value="NewMessage.MessageInvitation" style="height: 25em;" />
                </div>

                <div class="form-group col-12 col-md-6">
                    <label for="mensajeConfirmacion" class="form-label">Mensaje de confirmación:</label>
                    <InputTextArea id="mensajeConfirmacion" class="form-control" @bind-Value="NewMessage.MessageConfirmation" style="height: 25em;" />
                </div>
            </div>

            <h3>Tokens que puede usar en mensajes:</h3>
            <ul>
                @foreach (var token in Tokens!)
                {
                    <li>@token.Key - @token.Description</li>
                }
            </ul>

            <div class="form-group mt-3 d-flex justify-content-end gap-2 flex-wrap">
                <button type="submit" class="btn btn-custom" disabled="@(isLoading)">
                    @if (isLoading)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span> Cargando... </span>
                    }
                    else
                    {
                        <span>Guardar Mensajes</span>
                    }
                </button>

                <button type="button" class="btn btn-secondary" @onclick="BackToEvent">
                    Cancelar
                </button>
            </div>

        </EditForm>
    }
    else
    {
        <p>Cargando datos...</p>
    }
</div>
